<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Assigned Courses</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="w3.css">
</head>
<body>

	<div th:fragment="home" class="w3-pale-blue w3-card">
		<div class="w3-container w3-tangerine">
			<p class="w3-large" align="center">Assigned Courses</p>
		</div>
	</div>
 
 	<div class="w3-container" align="center">
 		<h1 align="center">The courses assigned to me</h1>
 		<a href="#" th:href="@{/faculty/myleaveapps}" >My Leave Application</a><br/>

			
 	</div>
 	
 	<div th:fragment="copyright">
 		<p class="w3-wide" align="center">&copy; 2019 ISS, NUS, All Rights Reserved</p>
 	</div>
</body>
</html>