<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Assign Faculty Form</title>
</head>
<body>

	

	<form action="/admin/saveassign" method="get" th:object="${course}" th:action="@{/admin/saveassign}">
	<fieldset>
		Course Code: <input type="text" th:field="*{courseCode}" readonly>
		<p th:if="${#fields.hasErrors('courseCode')}" th:errors="*{courseCode}"></p>
	</fieldset>

	<fieldset>
		CourseName: <input type="text" th:field="*{CourseName}" readonly>
		<p th:if="${#fields.hasErrors('CourseName')}" th:errors="*{courseName}"></p>
	</fieldset>
	
    <fieldset>
		Department: <input type="text" th:field="*{department}" readonly>
		<p th:if="${#fields.hasErrors('department')}" th:errors="*{department}"></p>
	</fieldset>
	
	<fieldset>
		Unit: <input type="text" th:field="*{courseUnit}" readonly>
		<p th:if="${#fields.hasErrors('courseUnit')}" th:errors="*{courseUnit}"></p>
	</fieldset>
		
	
	
		Faculty In Charge: <select th:field="*{currentFaculty}">
		<option th:each="fac:${facsofdepartment}" th:value="${fac.id}" th:text="${fac}"></option>
		</select>
	
	
	<fieldset>
		<button type="submit">Save</button>
	</fieldset>
	
	</form>


</body>
</html>