<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Student List of Course</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="w3.css">
</head>
<body>

	<div th:fragment="home" class="w3-pale-blue w3-card">
		<div class="w3-container w3-tangerine">
			<p class="w3-large" align="center">Student List of Course</p>
		</div>
	</div>
 
 	<div class="w3-container" align="center">
 		<h1 align="center">The student list of course</h1>
 		<a href="#" th:href="@{/faculty/myleaveapps}" >My Leave Application</a><br/>

			
 	</div>
 	
 		<div class="w3-container" align="center">
 	<h1>Student List to be graded</h1>
 	<table>
 	<tr><td th:text=${coursename}>Course Name</tr>
 		<tr>
 			<td>Student Name</td><td>Grade</td>
 		</tr>
 		<tr th:each="stucou:${valistucoulist}">
 			<td th:text=${stucou.student}>Student Name</td>
 			
 			<td th:text="${stucou.grade}">Grade</td>
 			
 			<td><a href="#" th:href="@{/faculty/markgrade/}+${stucou.id}"> Mark Grade</a></td>
 			</tr>
 			
 	</table>
 	</div>
 	
 	 		<div class="w3-container" align="center">
 	<h1>Student List reveived grade</h1>
 	<table>
 	<tr><td th:text=${coursename}>Course Name</tr>
 		<tr>
 			<td>Student Name</td><td>Grade</td>
 		</tr>
 		<tr th:each="stucou:${managedstucoulist}">
 			<td th:text=${stucou.student}>Student Name</td>
 			
 			<td th:text="${stucou.grade}">Grade</td>
 			
 			
 			</tr>
 			
 	</table>
 	</div>
 	
 	<div th:fragment="copyright">
 		<p class="w3-wide" align="center">&copy; 2019 ISS, NUS, All Rights Reserved</p>
 	</div>
</body>
</html>