<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Course List</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="w3.css">
</head>
<body>

	<div th:fragment="home" class="w3-pale-blue w3-card">
		<div class="w3-container w3-tangerine">
			<p class="w3-large" align="center">List of Course</p>
		</div>
	</div>
 
 	<div class="w3-container" align="center">
 		<h1 align="center">List of Course</h1>
 		<a href="#" th:href="@{/admin/addcourse}" >Add New Course</a><br/>
 		<a href="#" th:href="@{/admin/studentlist}" >Student List</a><br/>
 		<a href="#" th:href="@{/admin/facultylist}" >Faculty List</a><br/>
		<a href="#" th:href="@{/admin/applicationlist}" >Application List</a><br/>
		
		
 	</div>
 	
 	<div class="w3-container" align="center">
 	<h1>Course List</h1>
 	<table>
 		<tr>
 			<td>Course Name</td><td>Course Code</td><td>Department</td><td>Course Unit</td>
 		</tr>
 		<tr th:each="course:${courses}">
 			<td th:text=${course.courseName}>Course Name</td>
 			<td th:text=${course.courseCode}>Course Code</td>
 			<td th:text=${course.department}>Department</td>
 			<td th:text=${course.courseUnit}>Course Unit</td>
 			
 			<td><a href="#" th:href="@{/admin/editcourse/}+${course.id}" >Edit</a></td>
 			<td><a href="#" th:href="@{/admin/deletecourse/}+${course.id}" >Delete</a></td>
 			</tr>
 			<tr>
 			
 			</tr>
 	</table>
 	</div>
 	<div th:fragment="copyright">
 		<p class="w3-wide" align="center">&copy; 2019 ISS, NUS, All Rights Reserved</p>
 	</div>
</body>
</html>