<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="w3.css">
</head>
<body>

	<div th:insert="~{index::home}">Home</div>
 	<h1>Login Page</h1>
 	
 	<form th:object="${user}" th:action="@{/home/authenticate}" th:method="get" class="w3-container">
 		<fieldset>
 			<p>Name:<input type="text" th:field="${user.userName}" class="w3-input"></p>
 		</fieldset>
 		<fieldset>
 			<p>Password:<input type="password" th:field="${user.passWord}" class="w3-input"></p>
 		</fieldset>
 		
 		<fieldset>
 			<button type="submit" class="w3-btn w3-navy">Submit</button>
 		</fieldset>
 	</form>
 	<div th:insert="~{index::copyright}">Copyright</div>
 
 		
</body>
</html>