<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>My Leave Apps</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="w3.css">
</head>
<body>

	<div th:fragment="home" class="w3-pale-blue w3-card">
		<div class="w3-container w3-tangerine">
			<p class="w3-large" align="center">My Leave Apps</p>
		</div>
	</div>
 
 	<div class="w3-container" align="center">
 		<h1 align="center">My leave applications</h1>
 		
 		<a href="#" th:href="@{/faculty/coursesassigned}" >Course Assigned</a><br/>
 		<a href="#" th:href="@{/faculty/studentgrade}" >Student Grade</a><br/>
		<a href="#" th:href="@{/faculty/addleaveapp}" >Apply for new leave</a><br/>
		
		
 	</div>
 	
 	<div class="w3-container" align="center">
 	<h1>My Leave App List</h1>
 	<table>
 		<tr>
 			<td>Start Date</td><td>End Date</td><td>Status</td>
 		</tr>
 		<tr th:each="leaveapp:${mleaveapps}">
 			<td th:text="${#calendars.format(leaveapp.startDate,'dd-MM-yyyy')}">Start Date</td>
 			<td th:text="${#calendars.format(leaveapp.endDate,'dd-MM-yyyy')}">End Date</td>
 			<td th:text=${leaveapp.status}>Status</td>
 			
 			
 			<td><a href="#" th:href="@{/faculty/deleteleaveapp/}+${leaveapp.id}" >Delete</a></td>
 			</tr>
 			<tr>
 			
 			</tr>
 	</table>
 	</div>
 	<div th:fragment="copyright">
 		<p class="w3-wide" align="center">&copy; 2019 ISS, NUS, All Rights Reserved</p>
 	</div>
</body>
</html>