<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Student List</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="w3.css">
</head>
<body>

	<div th:fragment="home" class="w3-pale-blue w3-card">
		<div class="w3-container w3-tangerine">
			<p class="w3-large" align="center">List of Registered Student</p>
		</div>
	</div>
 
 	<div class="w3-container" align="center">
 		<h1 align="center">List of Registered Student</h1>
 		<a href="#" th:href="@{/admin/addstudent}" >Add New Student</a><br/>
 		<a href="#" th:href="@{/admin/facultylist}" >Faculty List</a><br/>
 		<a href="#" th:href="@{/admin/courselist}" >Course List</a><br/>
		<a href="#" th:href="@{/admin/applicationlist}" >Application List</a><br/>
		
		
 	</div>
 	
 	<div class="w3-container" align="center">
 	<h1>Student List</h1>
 	<table>
 		<tr>
 			<td>UserName</td><td>Reg ID</td><td>First Name</td><td>Last Name</td><td>Semister</td>
 		</tr>
 		<tr th:each="student:${students}">
 			<td th:text=${student.userName}>User Name</td>
 			<td th:text=${student.studentID}>Reg ID</td>
 			<td th:text=${student.firstName}>First Name</td>
 			<td th:text=${student.lastName}>Last Name</td>
 			<td th:text=${student.semester}>Semister</td>
 			<td><a href="#" th:href="@{/admin/editstudent/}+${student.id}" >Edit</a></td>
 			<td><a href="#" th:href="@{/admin/deletestudent/}+${student.id}" >Delete</a></td>
 			</tr>
 			<tr>
 			
 			</tr>
 	</table>
 	</div>
 	<div th:fragment="copyright">
 		<p class="w3-wide" align="center">&copy; 2019 ISS, NUS, All Rights Reserved</p>
 	</div>
</body>
</html>